
.car {
	border: 1px solid black;
}
/*
#blue {
	background: blue;
}

#green {
	background: green;
}

#red {
	background: red;
}
*/
#desc {
	margin: 0px auto;
}

#track {
	background: yellow;
	position: relative;
}


